In [1]:
import pandas as pd

In [2]:
data = {
    'cats':[3,5,3,2],
    'dogs':[5,3,8,4]
}

In [4]:
listView = pd.DataFrame(data)

listView

   cats  dogs
0     3     5
1     5     3
2     3     8
3     2     4

In [5]:
import random

In [6]:
random.seed(5)

In [9]:
print(random.randint(1,500))

380

In [10]:
random.seed(5)
print(random.randint(1,500))

319

In [11]:
for i in rand (6):
    random.seed(5)
    print(random.randint(1,200))
    random.seed(3)
    print(random.randint(1,300))

NameError: name 'rand' is not defined

In [12]:
for i in range (6):
    random.seed(5)
    print(random.randint(1,200))
    random.seed(3)
    print(random.randint(1,300))

160
122
160
122
160
122
160
122
160
122
160
122

In [13]:
for i in range (6):
    random.seed(1)
    print(random.randint(1,500))
    random.seed(2)
    print(random.randint(1,1000))

69
979
69
979
69
979
69
979
69
979
69
979