In [1]:
import pandas as pd

In [2]:
data = {
    'cats':[3,5,3,2],
    'dogs':[5,3,8,4]
}

In [4]:
listView = pd.DataFrame(data)

listView

   cats  dogs
0     3     5
1     5     3
2     3     8
3     2     4

In [5]:
import random

In [6]:
random.seed(5)