In [1]:
import pandas as pd

### Feature Extraction

In [2]:
txtmining = pd.read_csv('trainTweets.csv')
txtmining.head()

   id  label                                              tweet
0   5      0            Factsguide: Society now    #motivation
1  18      1                             Retweet if you agree!
2   8      0  the next school year is the year for exams.ð...
3   9      0  we won!!! love the land!!! #allin #cavs #champ...
4  10      0   @user @user welcome here !  i'm   it's so #gr...

In [4]:
# create 'word_count' column
# apply a function to count how many words are in the 'tweet' column
txtmining['word_count'] = txtmining['tweet'].apply(lambda x: len(str(x).split(' ')))
txtmining[['tweet', 'word_count']].head()

                                               tweet  word_count
0            Factsguide: Society now    #motivation            9
1                             Retweet if you agree!            5
2  the next school year is the year for exams.ð...          23
3  we won!!! love the land!!! #allin #cavs #champ...          13
4   @user @user welcome here !  i'm   it's so #gr...          15

In [5]:
txtmining['char_count'] = txtmining['tweet'].str.len() # includes spaces
txtmining[['tweet', 'char_count']].head()

                                               tweet  char_count
0            Factsguide: Society now    #motivation           40
1                             Retweet if you agree!           22
2  the next school year is the year for exams.ð...         143
3  we won!!! love the land!!! #allin #cavs #champ...          87
4   @user @user welcome here !  i'm   it's so #gr...          50

In [12]:
# retrieve the number of '#' symbols
txtmining['hashtags'] = txtmining['tweet'].apply(lambda x: len([x for x in x.split()
                                                                  if x.startswith('#')]))
txtmining[['tweet', 'hashtags']].head()

                                               tweet  hashtags
0            Factsguide: Society now    #motivation          1
1                             Retweet if you agree!          0
2  the next school year is the year for exams.ð...         7
3  we won!!! love the land!!! #allin #cavs #champ...         5
4   @user @user welcome here !  i'm   it's so #gr...         1

### Text Mining

In [14]:
txtmining['tweet'] = txtmining['tweet'].apply(lambda x: ' '.join(x.lower() for x in x.split()))
txtmining['tweet']

0                      factsguide: society now #motivation
1                                    retweet if you agree!
2        the next school year is the year for exams.ð...
3        we won!!! love the land!!! #allin #cavs #champ...
4            @user @user welcome here ! i'm it's so #gr8 !
                               ...
31948    ate @user isz that youuu?ðððððð...
31949    to see nina turner on the airwaves trying to w...
31950    listening to sad songs on a monday morning otw...
31951    @user #sikh #temple vandalised in in #calgary,...
31952                       thank you @user for you follow
Name: tweet, Length: 31953, dtype: object

In [15]:
txtmining['tweet'] = txtmining['tweet'].str.replace('[^/w/s]','')
txtmining['tweet'].head()

C:\Users\ENLARG~1\AppData\Local\Temp/ipykernel_10760/1476783717.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  txtmining['tweet'] = txtmining['tweet'].str.replace('[^/w/s]','')

0        ssw
1          w
2    sssssss
3      wwsss
4      sswss
Name: tweet, dtype: object