In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('artwork_sample.csv')

In [3]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [4]:
data.year

0       NaN
1       NaN
2    1785.0
3       NaN
4    1826.0
5    1826.0
6    1826.0
7    1826.0
8    1826.0
9    1826.0
Name: year, dtype: float64

In [5]:
data.year.min()

1785.0

In [6]:
data.year.max()

1826.0

In [7]:
data.year.sum()

12741.0

In [8]:
data.year.mean()

1820.142857142857

In [9]:
data.year.std()

15.496543393378316

In [11]:
data.artist.min()

'Blake, Robert'

In [12]:
data.artist.mean()

TypeError: Could not convert Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William to numeric

In [13]:
data.artist.sum()

'Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William'

In [14]:
data.sum()

id                                                                10395
accession_number      A00001A00002A00003A00004A00005A00006A00007A000...
artist                Blake, RobertBlake, RobertBlake, RobertBlake, ...
artistRole            artistartistartistartistartistartistartistarti...
artistId                                                            386
title                 A Figure Bowing before a Seated Old Man with h...
dateText              date not knowndate not known?c.1785date not kn...
medium                Watercolour, ink, chalk and graphite on paper....
creditLine            Presented by Mrs John Richmond 1922Presented b...
year                                                            12741.0
acquisitionYear                                                   19202
dimensions            support: 394 x 419 mmsupport: 311 x 213 mmsupp...
width                                                              2821
height                                                             3515
depth                                                               0.0
units                                              mmmmmmmmmmmmmmmmmmmm
inscription                                                         0.0
thumbnailCopyright                                                  0.0
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [15]:
data.agg('min')

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826–7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                             1785.0
acquisitionYear                                                    1919
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [16]:
data.agg(['min', 'max'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
min,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,"1826–7, reprinted 1892",Graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1919,image: 240 x 338 mm,240,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
max,1044,A00010,"Blake, William",artist,39,"Two Drawings of Frightened Figures, Probably f...",date not known,"Watercolour, ink, chalk and graphite on paper....",Purchased with the assistance of a special gra...,1826.0,1922,support: 394 x 419 mm,394,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [17]:
data.agg(['min', 'max', 'mean', 'std'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
min,1035.00000,A00001,"Blake, Robert",artist,38.000000,A Figure Bowing before a Seated Old Man with h...,"1826–7, reprinted 1892",Graphite on paper,Presented by Mrs John Richmond 1922,1785.000000,1919.000000,image: 240 x 338 mm,240.000000,213.000000,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
max,1044.00000,A00010,"Blake, William",artist,39.000000,"Two Drawings of Frightened Figures, Probably f...",date not known,"Watercolour, ink, chalk and graphite on paper....",Purchased with the assistance of a special gra...,1826.000000,1922.000000,support: 394 x 419 mm,394.000000,467.000000,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
mean,1039.50000,NaN,NaN,NaN,38.600000,NaN,NaN,NaN,NaN,1820.142857,1920.200000,NaN,282.100000,351.500000,NaN,NaN,NaN,NaN,NaN,NaN
std,3.02765,NaN,NaN,NaN,0.516398,NaN,NaN,NaN,NaN,15.496543,1.549193,NaN,55.562677,66.818577,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data.agg('mean', axis="columns")

C:\Users\EnlargedSquash\anaconda3\lib\site-packages\pandas\core\apply.py:577: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return f(*args, **kwargs)

Series([], dtype: float64)